.copy-container {
  background-color: transparent;
  border: solid  #F2B134 3px;
  text-align: center;
  font-size: 15px;
  padding: 20px 0px;
  width: 500px;
}

h3 {
  float: left;
  margin-right: 20px;
  font-style: bold;
}

.contact {
  font-size: 14px;
}

.contact-notes {
  font-size: 16px;
  margin-bottom: 10px;
}

.contact-person {
  color:  #112F41;
  font-weight: bold;
  font-size: 18px;
  padding: 4px;
}

.interaction-quantity {
  margin: 0px;
}

.interaction-detail-button {
  color:  #112F41;
  border: solid #53327F 2px;
  background-color: transparent;
  margin: 10px;
  width: 80%;
}

.interaction-detail-button:hover {
  background-color: whitesmoke;
  box-shadow: 3px 3px 10px #355263;
}

.edit-contact-link {
  color: #4FB99F;
  font-size: 14px;
  padding: -5px;
  margin-left: 5px;
  float: left;
  text-decoration: none;
}

.edit-contact-link:hover {
  color: red;
}

.delete-contact {
  background-color: transparent;
  font-size: 14px;
  border: none;
  color: #4FB99F;
  font-family: 'Antic Slab', serif;
  float: right;
  cursor: pointer;
}

.delete-contact:hover {
  color: red;
}

.interactionTitle {
  font-weight: bold;
}

ol {
  padding: 0px;
}

ol.interaction-items {
  display: none;
}

li.interaction-list-item {
  list-style-type: decimal;
  display: inline-block;
  color: #53327F;
}

@media screen and (max-width: 500px) {
  .copy-container {
    width: 300px;
  }
}