.copy-container {
  background-color: floralwhite;
  border: solid #1F313F 5px;
  font-size: 18px;
  padding: 20px;
}

.contact-link {
  color:  #1F313F;
  text-decoration: none;
}

.contact-link:hover {
  background-color: #1F313F;
  color: #FDD24E;
  padding: 10px;
}

.edit-contact-link {
  color: #1F313F;
  font-size: 14px;
  float: left;
  padding: -5px;
  text-decoration: none;
}

.edit-contact-link:hover {
  background-color: #1F313F;
  color: #FDD24E;
  padding: 5px;
  margin: -6px;
}