
#create-contact {
  background-color: whitesmoke;
  background-image: url('https://image.ibb.co/hdwy3p/user3.png');
  border: solid #F2B134 5px;
  margin: 0 auto;
  width: 80%;
  margin-top: 25px;
  margin-bottom: 250px;
}

.contact-form {
  background-color: transparent;
  color:#112F41;
  font-size: 17px;
  border: none;
  padding: 25px;
  cursor: pointer;
}

legend {
  font-size: 36px;
  color:#112F41;
  text-align: center;
}

label {
  padding: 10px;
  margin-top: 5px;
  max-width: 100%;
  font-size: 18px;
  display: block;
  font-size: 24px;
}

.newName, .newNotes {
  width: 100%;
  max-width: 100%;
  background-color: white;
  border: solid #F2B134 2px;
  font-size: 18px;
  padding: 15px;
}

.button-div {
  text-align: center;
}

.contact-button {
  background-color: white;
  width: 80%;
  margin: 20px;
  text-align: center;
  font-size: 48px;
  border: solid #F2B134 2px;
  color: #112F41;
  cursor: pointer;
}

.contact-button:hover {
  background-color: transparent;
}