.contact-info-box {
  height: 800px;
  color: #112F41;
  border: 2px solid #068587;
  text-align: center;
  padding-top: 30px;
  background-color: white;
  background-image: url('https://image.ibb.co/gQTqjU/png_rt.png');
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
  overflow: scroll;
}

.interaction-info-box {
  height: 800px;
  color: #112F41;
  border: 2px solid #068587;
  text-align: center;
  padding-top: 30px;
  background-color: white;
  background-image: url('https://image.ibb.co/kHwCEU/png_lt.png');
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
  overflow: scroll;
}
a.contact-dashboard-link {
  color:  #112F41;
}

.contact-dashboard-link {
  border: solid #F2B134 2px;
  text-decoration: none;
  font-style: bold;
  font-size: 18px;
  padding: 5px;
}

a.interaction-dashboard-link {
  color:  #112F41;
}

.interaction-dashboard-link {
  border: solid #53327F 2px;
  text-decoration: none;
  font-style: bold;
  font-size: 18px;
  padding: 5px;
}

.contact-dashboard-link:hover {
  background-color: whitesmoke;
  box-shadow: 3px 3px 10px #112F41;
}

.interaction-dashboard-link:hover {
  background-color: whitesmoke;
  box-shadow: 3px 3px 10px #112F41;
}

.row {
  /* max-width: 1000px; */
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}
