.delete-item {
  background-color: transparent;
  font-size: 14px;
  border: none;
  color: #1F313F;
  float: right;
}

.delete-item:hover {
  background-color: #1F313F;
  color: #FDD24E;
  padding: 5px;
  margin: -6px;
}