.info-section-title {
  margin-top: 50px;
}


.info-section-text {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.dashboard-image {
  width: 75%;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.info-section-container {
  background-image: url('https://image.ibb.co/j8Shop/png4.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
  .info-section-title{
    font-size: 18px;
  }
  .info-section-text {
    width: 80%
  }
}