.info-section-text {
  width: 50%;
  margin: 0 auto;
}

.info-section-container {
  background-image: url('https://image.ibb.co/j8Shop/png4.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}