.copy-container {
  background-color: white;
  border: solid #1F313F 2px;
  font-size: 15px;
  padding: 20px;
  max-width: 400px;
}

.copy-container:hover {
  background-color: #cddce5;
  box-shadow: 3px 3px 10px #355263;
  border: none;
}

.interaction {
  font-size: 14px;
}

.interaction-text {
  font-size: 16px;
  margin-bottom: 10px;
}

a.interaction-link {
  color:  #1F313F;
  border: solid #1F313F 1px;
  text-decoration: none;
  font-style: bold;
  font-size: 18px;
  padding: 4px;
}

a.interaction-link:hover {
  background-color: white;
  padding: 5px;
}

.edit-interaction-link {
  color: #1F313F;
  font-size: 14px;
  float: left;
  padding-bottom: 0px;
  text-decoration: none;
}

.edit-interaction-link:hover {
  background-color: whitesmoke;
  color: red;
  font-size: 16px;
  padding: -10px;
  margin: -5px;
}