.copy-container {
  background-color: floralwhite;
  border: solid #1F313F 2px;
  font-size: 18px;
  padding: 20px;
  max-width: 400px;
}

a.interaction-link {
  color:  #1F313F;
  text-decoration: none;
  font-style: bold;
  font-size: 28px;
  padding-bottom: 0px;
}

a.interaction-link:hover {
  background-color: #1F313F;
  color: #FDD24E;
  padding: 10px;
}

.edit-interaction-link {
  color: #1F313F;
  font-size: 14px;
  float: left;
  padding-bottom: 0px;
  text-decoration: none;
}

.edit-interaction-link:hover {
  background-color: #1F313F;
  color: #FDD24E;
  padding: 5px;
  margin: -10px;
}