section.interaction-copy-container {
  background-color: transparent;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 300px;
}

.interaction-border {
  border: solid #53327F 3px;
}

h3 {
  float: left;
  margin-right: 20px;
  font-style: bold;
}

.interaction {
  font-size: 14px;
}

.interaction-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.interaction-title {
  color:  #112F41;
  font-style: bold;
  font-size: 18px;
  width: 100%;
  margin: 0 auto;
}

.edit-interaction-link {
  color: #4FB99F;
  background-color: transparent;
  font-size: 14px;
  float: left;
  padding-top: 30px;
  padding-bottom: 0px;
  text-decoration: none;
}

.edit-interaction-link:hover {
  color: red;
  font-size: 16px;
  padding: -10px;
  margin: -5px;
}

.spanText {
  font-weight: normal;
  font-size: 14px;
}