/* section {
  padding: 30px 15px;
  background-color: ghostwhite;
} */

li.interaction-item {
  display: inline-flex;
  padding: 5px 15px;
}

@media screen and (max-width: 500px) {
  section {
    padding: 5px 15px;
  }
}