fieldset {
  background-color: whitesmoke;
  margin: 10px;
}

.login-modal {
  background-color: transparent;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.login-title {
  padding: 0;
}
/* 
.login-page {
  margin: 150px;
} */

.account-link {
  color: #112F41;
}


div.login-div {
  background-color: whitesmoke;
  background-image: url('https://image.ibb.co/hdwy3p/user3.png');
  margin: 0 auto;
  width: 80%;
  border: solid #112F41 2px;
}

#username, #password {
  width: 100%;
  border: solid #112F41 1px;
  margin: 0 auto;
  font-size: 16px;
  padding: 5px;
}

.login-form {
  margin: 0 auto;
  width: 50%;
}


button.login-button {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  border: solid #112F41 1px;
  border-radius: 20px;
  color: #112F41;
  cursor: pointer;
  display: block;
}

button.login-button:hover {
  background-color: #4FB99F;
  padding: 3px;
  margin-bottom: -1px;
  box-shadow: 3px 3px 10px #355263;
  border: none;
}

#password {
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .login-title {
    font-size: 18px;
  }

  .login-div {
    width: 80%;
    padding: 10px;
  }

  .login-form {
    margin: 0 auto;
    width: 80%;
  }
}