nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #068587;
  padding: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 5px;
}
a { 
  color: whitesmoke;
  font-size: 18px;
  text-decoration: none;
}
.nav-link {
  border: 1px solid whitesmoke;
  padding: 5px;
  margin: 5px;
} 
/* 
a:visited {
  color: white; 
} */

.nav-link:hover {
  background-color: #112F41;
}

.nav-link:active {
  background-color: #112F41;
}

.fa-bars {
  color:  floralwhite;
}

@media (max-width: 320px) {
  h2 {
    font-size: 14px;
  }

  ul {
    display: none;
  }

  .fa-bars {
    display: inline;
    color: #112F41;
  }
}