#create-interaction {
  /* background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); */
  background-color: floralwhite;
  border: solid #1F313F 5px;
  margin: 0 auto;
  width: 80%;
  margin-top: 25px;
  margin-bottom: 250px;
}

.interaction-form {
  background-color: transparent;
  color:#1F313F;
  font-size: 17px;
  border: none;
  padding: 25px;
  cursor: pointer;
}

legend {
  font-size: 36px;
  color:#1F313F;
  text-align: center;
}

label {
  padding: 10px;
  margin-top: 5px;
  max-width: 100%;
  font-size: 18px;
  display: block;
  font-size: 24px;
}

input, textarea {
  width: 100%;
  max-width: 100%;
  background-color: floralwhite;
  border: solid #1F313F 2px;
  font-size: 18px;
  padding: 15px;
}

.button-div {
  text-align: center;
}

.interaction-button {
  background-color: transparent;
  width: 80%;
  margin: 20px;
  text-align: center;
  font-size: 48px;
  border: solid #1F313F 2px;
  color: #1F313F;
  cursor: pointer;
}

.interaction-button:hover {
  color: #FDD24E;
  background-color: #1F313F;
}
