form {
  text-align: center;
}

fieldset {
  background-color: ghostwhite;
  margin: 10px;
}

textarea {
  width: 100%;
  max-width: 500px;
}

.signup-field {
  width: 500px;
}

.sign-up-button {
  margin: auto 0;
}