
fieldset {
  background-color: whitesmoke;
  margin: 10px;
}

.sign-up-title {
  padding: 0;
}

.signup-modal {
  background-color: whitesmoke;
  background-image: url('https://image.ibb.co/hdwy3p/user3.png');
  margin: 0 auto;
  width: 50%;
  border: solid #112F41 2px;
  padding: 30px;
  padding-bottom: 45px;
  margin-top: 100px;
}

.signup-label {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

#firstName, #lastName, #username, #password, #passwordConfirm {
  width: 100%;
  border: solid #112F41 1px;
  margin: 0 auto;
  font-size: 16px;
  padding: 5px;
}

.signup-password {
  border: solid #112F41 2px;
}

.signup-button {
  display: inline;
}

.signup-form {
  margin: 0 auto;
  width: 50%;
}

.showSignUpForm {
  display: block;
}

button.landingpage-button {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  border: solid #112F41 1px;
  border-radius: 20px;
  color: #112F41;
  cursor: pointer;
  display: block;
}

button.landingpage-button:hover {
  background-color: #4FB99F;
  padding: 3px;
  margin-bottom: -1px;
  box-shadow: 3px 3px 10px #355263;
  border: none;
}

button.landingpage-signup-button {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  border: solid #112F41 1px;
  border-radius: 20px;
  color: #112F41;
  cursor: pointer;
  display: block;
}

button.landingpage-signup-button:hover {
  background-color: #4FB99F;
  padding: 3px;
  margin-bottom: -1px;
  box-shadow: 3px 3px 10px #355263;
  border: none;
}

#passwordConfirm {
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .sign-up-title {
    font-size: 18px;
  }

  .signup-modal {
    width: 80%;
    padding: 10px;
  }

  .signup-form {
    margin: 0 auto;
    width: 80%;
  }

  #firstName, #lastName, #username, #password, #passwordConfirm {
    font-size: 12px;
  }

  .form-input {
    display: inline;
  }
}