
fieldset {
  background-color: floralwhite;
  margin: 10px;
}

.signup-div {
  margin: 30px;
  border: solid #112F41 2px;
}

.signup-label {
  font-size: 18px;
  padding-bottom: 0px;
}

.signup-field {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  padding: 5px;
}

.sign-up-button {
  margin: 15px;
}

.signup-form {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 15px;
}

button.landingpage-button {
  background-color: transparent;
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  border: solid #112F41 2px;
  color: #112F41;
  cursor: pointer;
  display: block;
}

button.landingpage-button:hover {
  color: #FDD24E;
  background-color: #112F41;
}

button.landingpage-signup-button {
  background-color: transparent;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 18px;
  border: solid #112F41 2px;
  color: #112F41;
  cursor: pointer;
  display: block;
}

button.landingpage-signup-button:hover {
  color: #FDD24E;
  background-color: #112F41;
}

.sign-up-button {
  display: inline;
}

.lp-text {
  float: left;
}

.signup-password {
  margin-bottom: 15px;
  padding: 3px;
}