.title-bkgrnd {
  background:transparent;
  border-bottom: 2px solid #068587;
}


h1 {
  text-align: center;
  margin-bottom: -20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 4em;
  color: #112F41;
}

h2 {
  text-align: center;
  color: #068587;
  margin: 0;
  padding-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}