* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  color: #444;
  line-height: 1.5;
}

header {
  background-color: gainsboro;
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
}

main {
  text-align: center;
}

.copy-section {
  max-width: 1000px;
  margin: 0 auto;
}


fieldset {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 320px) {
  h2 {
    font-size: 14px;
  }

  footer {
    font-size: 10px;
    text-align: center;
  }

  ul {
    display: none;
  }

  .fa-bars {
    display: inline;
    color: black;
  }
}