* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #112F41;
  font-family: 'Antic Slab', serif;
  color: #068587;
  line-height: 1.5;
}

header {
  font-family: 'Raleway', sans-serif;
  background-color: gainsboro;
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
}

main {
  margin-top: 0px;
  padding-bottom: 30px;
}

.copy-section {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 320px) {
  h2 {
    font-size: 14px;
  }

  footer {
    font-size: 10px;
    text-align: center;
  }

  ul {
    display: none;
  }

  .fa-bars {
    display: inline;
    color: #112F41;
  }
}